<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<servlet>
<servlet-name>Info</servlet-name>
    <jsp-file>/Info.jsp</jsp-file>
</servlet>

    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>


</web-app>